print ">"(> 1 2);
print "<"(< 1 2);
print ">="(>= 1 2);
print "<="(<= 1 2);
print "=="(== 1 2);
print "^"(^ 2 2);
print "!nil" (! nil);
print "!T" (! T);
print "and" (&& nil T);
print "and" (&& T T);
print "and" (&& nil nil);
print "or" (|| nil T);
print "or" (|| nil nil);
print "or" (|| T T);
