print "1 > 2 = "(> 1 2);
print "1 < 2 = "(< 1 2);
print "1 >= 2 = "(>= 1 2);
print "1 <= 2 = "(<= 1 2);
print "1 == 2 = "(== 1 2);
print "2 ^ 2 ="(^ 2 2);
print "!nil = " (! nil);
print "!T = " (! T);
print "nil and T = " (&& nil T);
print "T and T = " (&& T T);
print "nil and nil = " (&& nil nil);
print "nil or T = " (|| nil T);
print "nil or nil = " (|| nil nil);
print "T or T = " (|| T T);
